header.app-bar {
  min-height: var(--mobile-header-height);
  padding: 2% 2%;
  background-color: var(--background-secondary);
  color: var(--primary-color);
  transition: min-height 0.5s;
}

.header {
  height: 100%;
}

.header .name {
  border-bottom: none;
  padding: 0 0 0 15px;
}

.header .name:hover {
  text-decoration: none;
}

.header .header-name .name span {
  padding: 0 10px 0 0;
}

.header .header-name .name span:last-child {
  padding: 0;
}

.header .menu-container {
  opacity: 0;
  height: 0;
  transition: all 0.5s;
  font-size: 1.3em;
  line-height: 1.3em;
  overflow: hidden;
}

.header .menu-container.active {
  opacity: 1;
  padding: 20px 0 35px 0;
}

.header .menu {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.menu .menu-link-container {
  padding: 0 10px;
}

.menu .menu-link {
  text-decoration: none;
  transition: all 0.5s;
  border-color: transparent;
}

.menu .menu-link:hover {
  border-bottom: 2px solid var(--background-primary);
  text-decoration: none;
}
.menu .menu-link-divider {
  padding-top: 4px;
  line-height: 1.1em;
  font-size: 1em;
}

@media only screen and (min-width: 769px) {
  header.app-bar {
    padding: 0 2%;
  }

  .header {
    height: var(--desktop-header-height);
  }

  .header .hamburger-nav-container {
    display: none;
  }

  .header .menu-container {
    height: 100%;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
  }

  .header .menu-container .menu {
    justify-content: flex-end;
    font-size: 1.2em;
    line-height: 1.3em;
  }
}
