header.app-bar {
  padding: 2% 2%;
  background-color: var(--background-secondary);
  color: var(--background-primary);
}

.header {
  height: 100%;
}

.header .menu-container {
  opacity: 0;
  height: 0;
  color: transparent;
  transition: 0.5s;
}

.header .menu-container.active {
  opacity: 1;
  padding: 20px 0 35px 0;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu .menu-link-container {
  padding: 0 10px;
}

.menu .menu-link {
  color: var(--background-primary);
  text-decoration: none;
  border-bottom: 2px solid var(--background-primary);
  transition: border 0.5s;
}

.menu .menu-link:hover {
  border-color: transparent;
  text-decoration: none;
}

@media only screen and (min-width: 769px) {
  header.app-bar {
    padding: 0 2%;
  }

  .header {
    height: var(--desktop-header-height);
  }

  .header .hamburger-container {
    display: none;
  }

  .header .menu-container {
    width: 180px;
    opacity: 1;
  }
}
