@import "variables.css";

html {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

@import "utilities.css";
